/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */
meta.foundation-version {
  font-family: "/5.2.3/";
}

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:43.063em)/";
  width: 43.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #f7f7f7;
  color: #444444;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

ul.pagination {
  display: block;
  min-height: 1.5rem;
  margin-left: -0.3125rem;
}
ul.pagination li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
ul.pagination li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  border-radius: 3px;
}
ul.pagination li:hover a,
ul.pagination li a:focus {
  background: #e6e6e6;
}
ul.pagination li.unavailable a {
  cursor: default;
  color: #999999;
}
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  background: transparent;
}
ul.pagination li.current a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #008cba;
}
ul.pagination li {
  float: left;
  display: block;
}

/* Pagination centred wrapper */
.pagination-centered {
  text-align: center;
}
.pagination-centered ul.pagination li {
  float: none;
  display: inline-block;
}

/* Start to customize Reverie */
a, a:visited, a:hover, a:visited:hover {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}

figure {
  margin: 0 auto 1.25rem;
}

figure img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}

img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}

img.aligncenter {
  display: block;
  margin: 18px auto;
}

.gallery dt, .gallery dl {
  display: inline-block;
}
.gallery dl {
  margin-left: 0.5625rem;
  margin-right: 0.5625rem;
}

figure.figure {
  margin: 0 auto;
  display: table;
}
figure.figure figcaption {
  font-size: 0.875rem;
  line-height: 1.4;
  font-style: italic;
  padding: 8px 10px;
  color: #999;
  margin-bottom: 1.25rem;
  display: table-caption;
  caption-side: bottom;
}

figure.alignright.figure {
  float: right;
  margin: 0 0 18px 18px;
}

figure.alignleft.figure {
  float: left;
  margin: 0 18px 18px 0;
}

.footer-widget {
  background-color: #eee;
}

body > header.contain-to-grid {
  margin-bottom: 2rem;
  max-width: 100%;
  padding-bottom: 0;
}

#content {
  background-color: #fff;
  border: 1px solid #ddd;
}

.index-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

span.author,
time {
  font-size: 0.9375rem;
  color: #999;
}
span.author a,
time a {
  color: #999;
  font-weight: bold;
}
span.author a:hover, span.author a:focus,
time a:hover,
time a:focus {
  color: #444444;
}

.entry-author {
  background-color: #fbfbfb;
  border: none;
  padding: 3.125rem 5rem;
  margin: 3.125rem -0.9375rem;
}
.entry-author .avatar {
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}
.entry-author h4 a {
  color: #999;
}
.entry-author h4 a:hover, .entry-author h4 a:focus {
  color: #444444;
}
.entry-author p {
  color: #bbb;
}

.post header,
.page header {
  margin-bottom: 1.25rem;
}

.entry-tags {
  color: #999;
  font-size: 0.9375rem;
}
.entry-tags a {
  color: #999;
}
.entry-tags a:hover, .entry-tags a:focus {
  color: #444444;
}

.page-numbers {
  color: #999;
  display: block;
  min-height: 1.5rem;
  margin-left: -0.3125rem;
}
.page-numbers li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
.page-numbers li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  border-radius: 3px;
}
.page-numbers li:hover a,
.page-numbers li a:focus {
  background: #e6e6e6;
}
.page-numbers li.unavailable a {
  cursor: default;
  color: #999999;
}
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
  background: transparent;
}
.page-numbers li.current a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default;
}
.page-numbers li.current a:hover, .page-numbers li.current a:focus {
  background: #008cba;
}
.page-numbers li {
  float: left;
  display: block;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.page-numbers li {
  margin-left: 0.5rem;
}

.page-numbers li span:hover a,
.page-numbers li span a:focus {
  background: #e6e6e6;
}
.page-numbers li span.current {
  background: #008cba;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: white;
  font-weight: bold;
  cursor: default;
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

ol.commentlist {
  margin-left: 0;
  margin-top: 2em;
}
ol.commentlist p {
  font-size: 0.9375rem;
  line-height: 1.5;
}
ol.commentlist ul.children {
  margin-left: 4rem;
}
ol.commentlist li {
  list-style: none;
  margin-bottom: 2em;
}
ol.commentlist li .comment-author img {
  float: left;
  margin: 0 1em 0 0;
}
ol.commentlist li .author-meta {
  display: inline-block;
}
ol.commentlist li .author-meta cite.fn {
  font-style: normal;
  font-weight: 600;
  margin-right: 0.5rem;
}
ol.commentlist li .author-meta time a {
  color: #ccc;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
ol.commentlist li .author-meta .comment-edit-link {
  color: #bbb;
  font-size: 0.875rem;
}
ol.commentlist li section.comment {
  margin-left: 4rem;
  margin-bottom: 2rem;
}
ol.commentlist li section.comment a.comment-reply-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #bbb;
}
ol.commentlist li section.comment a.comment-reply-link:hover, ol.commentlist li section.comment a.comment-reply-link:focus {
  color: #444444;
}

#sidebar {
  margin-top: 1.25rem;
}

#sidebar .panel, .footer-widget .panel {
  border: none;
  background-color: #eee;
  padding: 1.5rem 1.875rem;
}
#sidebar .panel a, .footer-widget .panel a {
  color: #999;
  font-size: 0.9375rem;
}
#sidebar .panel a:hover, #sidebar .panel a:focus, .footer-widget .panel a:hover, .footer-widget .panel a:focus {
  color: #444444;
}
#sidebar ul, .footer-widget ul {
  list-style-type: none;
  margin-left: 0;
}
#sidebar .widget h4, .footer-widget .widget h4 {
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  color: #888;
  font-weight: 600;
}

footer.full-width {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 3rem;
}
footer.full-width p {
  font-size: 0.875rem;
}
footer.full-width a {
  color: #666;
  font-size: 0.9375rem;
}
footer.full-width a:hover, footer.full-width a:focus {
  color: #444444;
}
footer.full-width .love-reverie {
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
}

.admin-bar > .fixed {
  margin-top: 2rem;
}

.f-topbar-fixed > .container {
  margin-top: 2rem;
}

@media only screen {
  .entry-author .avatar {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (min-width: 43.063em) {
  #content {
    padding: 3.125rem;
  }

  .entry-author {
    margin: 3.125rem -3.125rem;
  }
}
@media only screen and (min-width: 64.063em) {
  #sidebar {
    padding-left: 1.875rem;
    padding-right: 0;
    margin-top: 0;
  }

  .footer-widget {
    margin-top: 3rem;
    padding-top: 2rem;
  }
}
blockquote {
  margin: 0 0 45px;
  font-style: italic;
}
blockquote p {
  font-size: 1.375em;
}

.full-background {
  color: #fff;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: right center;
}
.full-background h1, .full-background h2 {
  color: #fff;
}
.full-background h1 {
  margin-top: 50%;
  font-size: 27px;
}
.full-background h2 {
  font-size: 36px;
}

body {
  position: relative;
  min-height: 100%;
}

.daftar-relawan-full {
  color: #fff;
  margin: 0;
  min-height: -webkit-calc(100% - 70px);
  min-height: -moz-calc(100% - 70px);
  min-height: -ms-calc(100% - 70px);
  min-height: -o-calc(100% - 70px);
  min-height: calc(100% - 70px);
  background-size: cover;
  background-position: right center;
  color: #fff;
  position: relative;
}
@media only screen and (max-width: 40em) {
  .daftar-relawan-full {
    min-height: -webkit-calc(100%);
    min-height: -moz-calc(100%);
    min-height: -ms-calc(100%);
    min-height: -o-calc(100%);
    min-height: calc(100%);
  }
}
.daftar-relawan-full .row {
  height: 0;
}
.daftar-relawan-full fieldset {
  border: none !important;
  margin: 0;
  padding: 0;
}
.daftar-relawan-full h1,
.daftar-relawan-full h2 {
  text-shadow: 0px 0px 3px #000;
}
.daftar-relawan-full label {
  text-shadow: 1px 1px 3px #000;
}
.daftar-relawan-full h1 {
  font-size: 20px;
  margin-top: 10%;
  color: #fff;
}
.daftar-relawan-full h2 {
  font-size: 28px;
  margin: 15px 0 15px;
  color: #fff;
  font-size: 30px;
}
.daftar-relawan-full h3 {
  display: none;
}
.daftar-relawan-full .hidden {
  display: none !important;
}
.daftar-relawan-full ul {
  margin: 0;
  list-style-type: none;
}
.daftar-relawan-full ul li input[type='text'] {
  width: 80%;
  border: none;
  -webkit-wmoz-border-radius: 5px;
  -moz-wmoz-border-radius: 5px;
  -ms-wmoz-border-radius: 5px;
  -o-wmoz-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 720px) {
  .daftar-relawan-full ul li input[type='text'] {
    width: 100%;
  }
}
.daftar-relawan-full ul li input[type='text']:hover {
  box-shadow: none !important;
}
.daftar-relawan-full ul li input[type='text']:focus, .daftar-relawan-full ul li input[type='text']:active {
  transition: none;
  border: none;
  box-shadow: none !important;
}
.daftar-relawan-full ul li label {
  color: #fff;
}

.daftar-headline {
  position: absolute;
  top: 5%;
  z-index: 100;
}

.full-screen-image {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

nav.topbar {
  height: 70px;
  margin: 0 0 -15px;
  background: #0f2d53;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}
nav.topbar a {
  color: white;
}
nav.topbar ul {
  padding: 17px;
  list-style-type: none;
}
nav.topbar ul.left-nav li {
  margin: 0 22px;
}
nav.topbar ul.right-nav li {
  margin: 0 15px;
}
nav.topbar ul li {
  display: inline-block;
}
nav.topbar img {
  margin: 8px 0;
  height: 44px;
}

nav.daftar-relawan {
  display: block;
  width: 100%;
  height: 70px;
  background: #0f2d53;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}
nav.daftar-relawan img {
  margin: 8px 0;
  height: 44px;
}
nav.daftar-relawan a {
  color: white;
}
nav.daftar-relawan ul {
  padding: 17px 0 0;
  list-style-type: none;
}
nav.daftar-relawan ul.left-nav li {
  margin: 0 16px;
}
nav.daftar-relawan ul.right-nav li {
  margin: 0 16px;
}
nav.daftar-relawan ul li {
  display: inline-block;
}

@media only screen and (min-width: 43.063em) and (max-width: 64em) {
  nav.topbar .columns {
    padding: 0;
  }
  nav.topbar ul {
    margin: 0;
  }
  nav.topbar ul.left-nav li {
    margin: 0 8px;
  }
  nav.topbar ul.right-nav li {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 43em) {
  nav.topbar, nav.daftar-relawan {
    display: none;
  }
}

nav.top-bar,
.top-bar.expanded .title-area,
ul.dropdown {
  background: #0f2d53;
  color: white;
}
nav.top-bar a,
.top-bar.expanded .title-area a,
ul.dropdown a {
  color: white;
}

ul.dropdown {
  background: #17447e;
  padding: 10px;
  margin: 0;
}
ul.dropdown li {
  margin: 10px 0;
}

@media only screen and (min-width: 43em) {
  .topbar-mobile {
    display: none;
  }
}

.topbar-mobile.relawan {
  position: relative;
}
.topbar-mobile.relawan nav.top-bar.expanded {
  position: absolute;
  bottom: 0;
  z-index: 150;
  width: 100%;
}

.header {
  height: 400px;
}
.header .row, .header .columns {
  height: 100%;
  position: relative;
}
.header .title {
  position: absolute;
  bottom: 60px;
  right: 0;
}
.header h1 {
  text-transform: uppercase;
  color: white;
}
.header.berita {
  background-image: url("../img/header_berita.jpg");
}
.header.galeri {
  background-image: url("../img/header_galeri.jpg");
}
.header.undang {
  background-image: url("../img/header_kalender.jpg");
}

article {
  margin: 0 auto;
  max-width: 900px;
  padding: 75px 15px 60px;
}
article h2 {
  text-align: center;
  margin: 0 0 60px;
}

nav.berita {
  color: #888888;
  text-transform: uppercase;
  display: block;
  padding: 60px 0 40px;
}
nav.berita ul {
  text-align: center;
  list-style-type: none;
}
nav.berita ul li {
  font-size: 20px;
  margin: 0 30px;
  display: inline;
}

.berita.thumbs {
  padding: 80px 0 0;
  text-align: center;
}
.berita.thumbs .columns {
  padding: 10px;
}
.berita.thumbs .entry {
  background: #0f2d53;
  margin: 0 0 0;
}
.berita.thumbs figcaption {
  padding: 15px 10px;
}
.berita.thumbs figcaption h3 {
  font-size: 22px;
  line-height: 1.5;
  color: white;
}
.berita.thumbs .selengkapnya {
  padding: 50px 0 60px;
}
.berita.thumbs .selengkapnya .button {
  margin: 0;
}

nav.galeri {
  color: #888888;
  text-transform: uppercase;
  display: block;
  padding: 60px 0 40px;
}
nav.galeri ul {
  text-align: center;
  list-style-type: none;
}
nav.galeri ul li {
  font-size: 20px;
  margin: 0 30px;
  display: inline;
}

.galeri.thumbs {
  padding: 80px 0 0;
  text-align: center;
}
.galeri.thumbs figure {
  margin: 0;
}
.galeri.thumbs figure img {
  -webkit-wmoz-border-radius: 0;
  -moz-wmoz-border-radius: 0;
  -ms-wmoz-border-radius: 0;
  -o-wmoz-border-radius: 0;
  border-radius: 0;
}
.galeri.thumbs .columns {
  padding: 10px;
}
.galeri.thumbs .lainnya {
  padding: 60px 0;
}
.galeri.thumbs .lainnya .button {
  margin: 0;
}

.kalender {
  text-align: center;
  padding: 60px 0;
}
.kalender h2 {
  margin: 0 0 55px;
}

.hidden {
  display: none !important;
}

.home-video {
  height: 70vh;
  width: 100vw;
  background-image: url("../img/home_video.jpg");
  background-size: cover;
}

.twitter {
  text-align: center;
  padding: 60px 0;
}
.twitter h3 {
  color: #0f2d53;
}
.twitter .meta {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #0f2d53;
}

.footer {
  padding: 60px 0 30px;
  background: #0f2d53;
  color: white;
}
.footer ul {
  margin: 0;
  list-style-position: outside;
  list-style-type: none;
}
.footer ul li a {
  color: white;
}
.footer ul li a:hover {
  border: none;
}
.footer .issues a {
  border-bottom: 1px solid white;
}
.footer h4, .footer h2, .footer h6 {
  color: white;
}
.footer blockquote .meta {
  color: #bbb;
  font-size: 0.9rem;
}
.footer .social ul {
  margin-top: 25px;
  list-style-type: none;
}
.footer .social ul li {
  float: left;
  margin-right: 18px;
}
.footer .social img {
  width: 40px;
  height: 40px;
}
