article {
	margin: 0 auto;
	max-width: 900px;
	padding: 75px 15px 60px;

	h2 {
		text-align: center;
		margin: 0 0 60px;
	}

	img {
		&.featured {
			width: 100%;
			margin: 15px 0;
		}
	}
}

.berita {
	article {
		header {
			text-align: center;
			h2 {
				margin: 0 0 15px;
			}
			margin: 0 0 15px;
		}
	}
}

@media screen and (max-width: $small-width) {
	article {
		padding: 40px 15px;

		h2 {
			margin: 0 0 40px;
		}
	}
}