.footer	{
	padding: 45px 0 30px;
	background: $darkblue;
	color: $white;
	
	.logo {
		img {
			margin-top: 10px;
		}
	}

	.columns {
		padding-top: 15px;
	}

	ul {
		margin: 0;
		list-style-position: outside;
		list-style-type: none;
		li {
			a {
				color: $white;
			}

			a:hover {
				border: none;
			}

		}
	}

	.issues {
		a {
			border-bottom: 1px solid $white;
		}
	}

	h4, h2, h6 {
		color: $white;
	}

	blockquote {
		.meta {
			color: #bbb;
			font-size: 0.9rem;
		}
	}

	.social {
		ul {
			list-style-type: none;
			li {
				margin: 20px 20px 0 0;
				float: left;
			}
		}
		img {
			width: 40px;
			height: 40px;
		}
	}
}