.footer	{
	padding: 60px 0 30px;
	background: $darkblue;
	color: $white;
	
	ul {
		margin: 0;
		list-style-position: outside;
		list-style-type: none;
		li {

		}
	}

	h4, h2, h6 {
		color: $white;
	}

	blockquote {
		.meta {
			color: #bbb;
			font-size: 0.9rem;
		}
	}
}