.footer	{
	padding: 60px 0 30px;
	background: $darkblue;
	color: $white;
	
	ul {
		margin: 0;
		list-style-position: outside;
		list-style-type: none;
		li {
			a {
				color: $white;
				border-bottom: 1px solid $white;
			}

			a:hover {
				border: none;
			}
		}
	}

	h4, h2, h6 {
		color: $white;
	}

	blockquote {
		.meta {
			color: #bbb;
			font-size: 0.9rem;
		}
	}

	.social {
		ul {
			margin-top: 25px;
			list-style-type: none;
			li {
				float: left;
				margin-right: 18px;
			}
		}
		img {
			width: 40px;
			height: 40px;
		}
	}
}