.full-background {
	color: #fff;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-image: url('../img/home_slider_1.jpg');
	background-position: right center;

	h1, h2 {
		color: #fff;
	}

	h1 {
		margin-top: 50%;
		font-size: 27px;
	}

	h2 {
		font-size: 36px;
	}
}

body {
	position: relative;
	min-height: 100%;
}

.daftar-relawan-full {
	color: #fff;
	margin: 0;
	min-height: -webkit-calc(100% - 70px);
	min-height: -moz-calc(100% - 70px);
	min-height: -ms-calc(100% - 70px);
	min-height: -o-calc(100% - 70px);
	min-height: calc(100% - 70px);
	
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../img/home_slider_1.jpg');		
	
	
	background-size: cover;
	background-position: right center;
	
	color: #fff;
	position: relative;
	fieldset {
		border: none !important;
		margin: 0;
		padding: 0;
	}
	

	h1,
	h2 {
		text-shadow: 0px 0px 3px #000;
	}

	label {
		text-shadow: 1px 1px 3px #000;
	}

	h1 {
		font-size: 20px;
		margin-top: 10%;
		color: #fff;
	}

	h2 {
		font-size: 28px;
		margin: 15px 0 15px;
		color: #fff;
		font-size: 30px;
	}

	h3 {
		display: none;
	}
	
	.hidden {
		display: none !important;
	}

	ul {
		margin: 0;
		list-style-type: none;
		li {
			input[type='text'] {
				width: 80%;
				border: none;
				-webkit-wmoz-border-radius: 5px;
				-moz-wmoz-border-radius: 5px;
				-ms-wmoz-border-radius: 5px;
				-o-wmoz-border-radius: 5px;
				border-radius: 5px;

				@media screen and (max-width: 720px) {
					width: 100%;
				}
				&:hover {
					box-shadow: none !important;
				}
				
				&:focus,
				&:active {
					transition: none;
					border: none;
					box-shadow: none !important;
				}
			}

			label {
				color: #fff;
			}
		}
	}
}

nav.daftar-relawan {
	position: relative;
	bottom: 0;
	display: block;
	width: 100%;
	height: 70px;
	background: $darkblue;
	color: $white;
	text-transform: uppercase;
	padding: 5px;
	text-align: center;

	img {
		margin: 8px 0;
		height: 44px;
	}

}