
body {
	position: relative;
	min-height: 100%;
}

.daftar-relawan-full {
	color: #fff;
	margin: 0;
	min-height: -webkit-calc(100% - 70px);
	min-height: -moz-calc(100% - 70px);
	min-height: -ms-calc(100% - 70px);
	min-height: -o-calc(100% - 70px);
	min-height: calc(100% - 70px);

	@media only screen and (max-width: 40em) {
		min-height: -webkit-calc(100%);
		min-height: -moz-calc(100%);
		min-height: -ms-calc(100%);
		min-height: -o-calc(100%);
		min-height: calc(100%);
	}
	
	background-size: cover;
	
	color: #fff;
	position: relative;

	.row {
		height: 0;
	}
	
	fieldset {
		border: none !important;
		margin: 0;
		padding: 0;
	}

	h1,
	h2 {
		text-shadow: 1px 1px 3px #000,
					 -1px -1px 3px #000;
	}

	label {
		text-shadow: 1px 1px 3px #000;
	}

	h1 {
		font-size: 20px;
		margin-top: 10%;
		color: #fff;
	}

	h2 {
		font-size: 26px;
		line-height: 1.454;
		margin: 15px 0 15px;
		color: #fff;
	}

	h3 {
		display: none;
	}
	
	ul {
		margin: 0;
		list-style-type: none;
		li {
			input[type='text'] {
				width: 80%;
				border: none;
				-webkit-wmoz-border-radius: 5px;
				-moz-wmoz-border-radius: 5px;
				-ms-wmoz-border-radius: 5px;
				-o-wmoz-border-radius: 5px;
				border-radius: 5px;

				@media screen and (max-width: 720px) {
					width: 100%;
				}
				&:hover {
					box-shadow: none !important;
				}
				
				&:focus,
				&:active {
					transition: none;
					border: none;
					box-shadow: none !important;
				}
			}

			label {
				color: #fff;
			}
		}
	}
}

.zul-branding {
	background-color: $darkblue;

	&:hover {
		background-color: $lightblue;
	}
}


.daftar-headline {
	position: absolute;
	top: 30%;
	z-index: 100;
}

.full-screen-image {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: right center;
}