nav.topbar {
	height: 70px;
	margin: 0 0 -15px;
	background: $darkblue;
	color: $white;
	text-transform: uppercase;
	padding: 5px;
	text-align: center;
	a {
		color: $white;
	}
	ul {
		padding: 17px;
		list-style-type: none;
		&.left-nav {
			li {
				margin: 0 22px;			
			}
		}
		&.right-nav {
			li {
				margin: 0 15px;			
			}
		}
		li {
			display: inline-block;
		}
	}

	img {
		margin: 8px 0;
		height: 44px;
	}
}